.App {
  font-family: sans-serif;
  text-align: center;
}

.sideComponent {
  width: 25vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */

  /* display: inline; */
}

ul {
  /* display: flex;

   flex: 1;
   flex-direction: column;  */
  padding: 0;
  /* margin-top: 10px auto; */
  /* background-color: yellow; */
}
li {
  color: white;

  list-style-type: none;
  padding: 10px;
  font-size: 25px;
  font-size: 3.5vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.link {
  color: white;
  text-decoration: none;
}

/* .content { */
/* width: 75vw; */
/* margin-left: 35vw; */
/* position: relative; */
/* background-color: green; */
/* display: inline; */
/* } */
/* .contentContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
} */
